*.pyc
dist
datasets
pytorch_env
models
ckpt*
build
demo
wandb
runs
results
*/__pycache__/*
checkpoints
weights
*.ckpt
*.pth
*.jpg
*.ppm
*.flo
*.egg-info
*/test_input/*
*.npy
*.npz
*log*
*hypersim_stats.json*

datasets_realvideo